body {
  font-family: sans-serif;
  display: flex;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: 200px 1fr 300px;
  height: 100vh;
}

#problems {
  background: #f4f4f4;
  padding: 10px;
  overflow-y: auto;
}

#editor, #problem {
  padding: 15px;
}

textarea {
  font-family: monospace;
  margin-bottom: 10px;
}
